examples/DFRobot-LoRaWAN/02-Group all node devices and decode the data.json
[
    {
        "id": "e0b6ef890a37594e",
        "type": "LW Receive",
        "z": "765805023d49bff1",
        "name": "",
        "x": 300,
        "y": 2020,
        "wires": [
            [
                "7cd32da58d1a3ff3"
            ]
        ]
    },
    {
        "id": "7cd32da58d1a3ff3",
        "type": "Group",
        "z": "765805023d49bff1",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "type": "deviceName",
                "properties": [
                    ""
                ]
            },
            {
                "type": "devEUI",
                "properties": [
                    ""
                ]
            }
        ],
        "outputs": 2,
        "OutputMode": "option_Mode1",
        "x": 600,
        "y": 2020,
        "wires": [
            [
                "22fab1db5b39f225"
            ],
            [
                "402493e42f1142cd"
            ]
        ]
    },
    {
        "id": "22fab1db5b39f225",
        "type": "Decoder",
        "z": "765805023d49bff1",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "type": "option1"
            },
            {
                "type": "option2"
            },
            {
                "type": "option3"
            }
        ],
        "decodeText": "function dataProcessing(myData) {\r\n    var myObject = {};\r\n    myObject.author = \"DFRobot\";\r\n    myObject.type = typeof(myData);\r\n    myObject.data = myData;\r\n    return myObject;\r\n}\r\n\r\nfunction Decode(data) {\r\n    var processedData = dataProcessing(data);\r\n    return processedData;\r\n}\r\n",
        "outputs": 3,
        "OutputMode": "option_Mode1",
        "x": 830,
        "y": 2000,
        "wires": [
            [
                "a6da19964d970c3c"
            ],
            [
                "f3c8717cfacf66db"
            ],
            [
                "0d85fe305a0b0fc3"
            ]
        ]
    },
    {
        "id": "a6da19964d970c3c",
        "type": "debug",
        "z": "765805023d49bff1",
        "name": "解码规则：LWDTU-DF01",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1090,
        "y": 1920,
        "wires": []
    },
    {
        "id": "f3c8717cfacf66db",
        "type": "debug",
        "z": "765805023d49bff1",
        "name": "解码规则：String&Buffer",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1090,
        "y": 2000,
        "wires": []
    },
    {
        "id": "0d85fe305a0b0fc3",
        "type": "debug",
        "z": "765805023d49bff1",
        "name": "解码规则：自定义规则",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1080,
        "y": 2080,
        "wires": []
    },
    {
        "id": "402493e42f1142cd",
        "type": "debug",
        "z": "765805023d49bff1",
        "name": "指定devEUI的节点设备",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 890,
        "y": 2140,
        "wires": []
    },
    {
        "id": "79924b754897a352",
        "type": "comment",
        "z": "765805023d49bff1",
        "name": "Group all node devices",
        "info": "",
        "x": 600,
        "y": 1960,
        "wires": []
    },
    {
        "id": "a4bb3af9b1b07269",
        "type": "comment",
        "z": "765805023d49bff1",
        "name": "Decode according to different decoding rules",
        "info": "",
        "x": 950,
        "y": 1880,
        "wires": []
    }
]